
<div class="row">
    <div class="col-xs-12">
        <!--image source-->
        <img [src]="" alt="" class="img-responsive">
    </div><!--end of column div-->
</div><!--end of row div-->


<div class="row">
    <div class="col-xs-12">
        <!--the title for recipe name-->
        <h1>Recipe name</h1>
    </div><!--end of column div-->
</div><!--end of row div-->

<div class="row">
    <div class="col-xs-12">
        <!--a drop down button for diffent action-->
        <div class="btn-group">
            <button type="button"   
                    class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
            </button><!--A button ct as a dropdown toggler-->

            <ul class="dropdown-menu">  <!--this will be visible when drop down occures-->
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description
    </div><!--end of column div-->
</div><!--end of row div-->

<div class="row">
    <div class="col-xs-12">
        Ingrediants
    </div><!--end of column div-->
</div><!--end of row div-->
