
<div class="row">
    <div class="col-xs-12">
        <!--image source-->
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 300px;">
    </div><!--end of column div-->
</div><!--end of row div-->


<div class="row">
    <div class="col-xs-12">
        <!--the title for recipe name-->
        <h1>{{recipe.name}}</h1>
    </div><!--end of column div-->
</div><!--end of row div-->

<div class="row">
    <div class="col-xs-12">
        <!--a drop down button for diffent action-->
        <div class="btn-group" appDropdown>
            <button type="button"   
                    class="btn btn-primary dropdown-toggle">
                    Manage Recipe <span class="caret"></span>
            </button><!--A button ct as a dropdown toggler-->

            <ul class="dropdown-menu">  <!--this will be visible when drop down occures-->
                <li><a style = "cursor:pointer;" (click) = "onAddToShoppingList()">To Shopping List</a></li>
                <li><a style = "cursor: pointer;" (click) = "onEditRecipe()" >Edit Recipe</a></li>
                <li><a >Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div><!--end of column div-->
</div><!--end of row div-->

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor = " let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div><!--end of column div-->
</div><!--end of row div-->
