<div class="row">
    
    <div class="col-md-5">  <!--recipe list will be desplayed in first 5 column of the row-->
        <!--position: left side of the page-->
        <app-recipe-list
        (recipeWasSelected)= "selectedRecipe = $event"></app-recipe-list>
    </div>

    <div class="col-md-7">  <!--recipe detail will be desplayed in the next 7 column of the row-->
        <!--position: right side of the page-->
        <app-recipe-detail
        *ngIf="selectedRecipe; else infoText"
        [recipe] = "selectedRecipe"></app-recipe-detail>
        <!--ngIf recipe selected then render this section or render the infoText-->

        <ng-template #infoText>
            <p>please select the recipe</p>
        </ng-template>
    </div>

</div>
