
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>

    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" 
            *ngFor="let i of recipes">      <!--iterate over the recipes array of recipe-list.component.ts-->

            <div class="pull-left">         <!--render the recipe name and descrition on the left of the column-->
                <h4 class="list-group-item-heading">{{i.name}}</h4> <!--render the recipe name using string interpolation-->
                <p class="list-group-item-text">{{i.description}}</p> <!--rnder the recipe description same way-->
            </div>

            <span class="pull-right">          <!--render the recipe image on the right side of the column-->
                <!--render the image by providing image path using proerty binding-->
                <img [src]="i.imagePath" alt="{{i.name}}" class="img-responsive" style="max-height: 50px;">
            </span>

        </a>

        <app-recipe-item></app-recipe-item>
    </div>

</div>





